[submodule "submodules/dmbs"]
	path = submodules/dmbs
	url = https://github.com/abcminiuser/dmbs.git
[submodule "submodules/FastLED"]
	path = submodules/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "submodules/lufa"]
	path = submodules/lufa
	url = https://github.com/abcminiuser/lufa.git
[submodule "submodules/PinChangeInterrupt"]
	path = submodules/PinChangeInterrupt
	url = git@github.com:NicoHood/PinChangeInterrupt.git
[submodule "submodules/IRLremote"]
	path = submodules/IRLremote
	url = git@github.com:NicoHood/IRLremote.git
[submodule "submodules/RCLSwitch"]
	path = submodules/RCLSwitch
	url = git@github.com:NicoHood/RCLSwitch.git
